html {
    background-color: #0c0032;
    height: 100%;
}
nav{
    width: 100%;
    height: 64px;
    background-color: #3500d3;
    text-align: center;
}
.logo{

    max-width: 30px;
    max-height: 30px;
    position: absolute;
    left: 20px;
    background-color: greenyellow;
    border-radius: 100%;
    margin: 17px;

}
nav a{
    color: white;
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    margin: 0 5px;
    letter-spacing: .1em;
    line-height: 64px;
}

.banner {
    visibility: visible;
    background-image: url('banner.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.center{
    margin: auto;
    width: 50%;
    text-align: center;
}

.font{
    font-family: Helvetica, sans-serif;
    color: rgb(209, 209, 209);
}

.banner h1 {
    padding-top:10%;
    font-size: 3em;
    color: white;
    text-align: center;
}

.banner p {
    font-size: 1.2em;
    padding: 2em 0 20% 0;
    color: white;
    text-align: center;
}

article {
    border: 2px solid #240090;
    border-radius: 25px;
    margin: 3% auto;
    max-width: 70%;
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
    background-color: #282828;
}

.colorBox {
    display: inline-table;
    border-radius: 10%;
    margin: 20px;
    width: 15vw;
    height: 15vw;
    position: relative;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
    font-size: 2em;
    padding: .6em;
}

.colorBox p {
    padding-top: 50%;
    vertical-align: middle;
}
.tomato {
    background-color: #ff6347;
    color: white;
}
.thistle {
    background-color:#d8bfd8;
    color: black;
}
.crimson {
    background-color: #dc143c;
    color: black;
}
.peach {
    background-color: #ffdab9;
    color: black;
}
.yellow {
    background-color: #ffff00;
    color: black;
}
.purple {
    background-color: #800080;
    color: white;
}
.clear{
    clear: right;
}

.sourceNormal {
    font-family: 'Source Code Pro';
}

.pad {
    padding: 5px;
}

article h1 {
    font-size: 28px;
    text-decoration: underline;
}

.bold {
    font-weight: bold;
}

.italics {
    font-style: italic;
}

.morePadding {
    padding-bottom: 20px;
}

.poppins {
    font-family: 'Poppins';
}

.nunito {
    font-family: 'Nunito Sans';
}

@font-face {
    font-family: 'Poppins';
    src: url('../poppins/Poppins-Regular.ttf') format('truetype');
}



