html {
    background-color: #0c0032;
    height: 100%;
}
nav{
    width: 100%;
    height: 80px;
    background-color: #282828;
    text-align: center;
}

nav a{
    color: white;
    display: inline;
    text-decoration: none;
    position: relative;
    font-size: 14px;
   
    top: 26px;
    margin: 10px 5px;
    letter-spacing: .1em;
}

.banner {
    visibility: visible;
    background-image: url('banner.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
}

.center{
    margin: auto;
    width: 50%;
    text-align: center;
}

.font{
    font-family: Helvetica, sans-serif;
    color: rgb(209, 209, 209);
}

.banner h1 {
    padding-top:10%;
    font-size: 3em;
    color: white;
    text-align: center;
}

.banner p {
    font-size: 1.2em;
    padding: 2em 0 20% 0;
    color: white;
    text-align: center;
}

article {
    border: 2px solid #240090;
    border-radius: 25px;
    margin: 3% auto;
    max-width: 70%;
    width: 100%;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.colorBox {
    display: inline-table;
    border-radius: 10%;
    margin: 20px;
    width: 15vw;
    height: 15vw;
    position: relative;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
    font-size: 2em;
    padding: .6em;
}

.colorBox p {
    padding-top: 50%;
    vertical-align: middle;
}
.tomato {
    background-color: #ff6347;
    color: white;
}
.thistle {
    background-color:#d8bfd8;
    color: black;
}
.crimson {
    background-color: #dc143c;
    color: black;
}
.peach {
    background-color: #ffdab9;
    color: black;
}
.yellow {
    background-color: #ffff00;
    color: black;
}
.purple {
    background-color: #800080;
    color: white;
}
.clear{
    clear: right;
}


